{% extends "base.html" %}
{% block title %}Gestion Admin{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
    <div class="col">
        <h1 class="mt-5">Gestion Administrateur</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3 class="mt-5">Gestion Profils</h3>
    </div>
    <div class="col mt-5 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_profile">Créer un nouveau profil</button>
    </div>
</div>
<div class="modal fade" id="create_profile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Creation d'un profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('admin.createProfil')}}" method="POST" id="form_create_profile">
                <div class="row">
                <div class="col-3 my-1 text-align-center">Description:</div>
                <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="description" name="description" style="width:90%"></div>
            </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" form="form_create_profile">Creer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:60%">Description</th>
        <th scope="col" style="width:30%">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for profil in profils %}
        <tr>
            <th scope="row">{{profil.id}}</th>
            <td class="lead">{{profil.description}}</td>
            <td>
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#update_{{profil.id}}">Modifier</button>
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_{{profil.id}}">Supprimer</button>
            </td>
        </tr>
        <div class="modal fade" id="update_{{profil.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modification d'un profil</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('admin.updateProfil',profil_id=profil.id)}}" method="post" id="form_updateProfil_{{profil.id}}">
                        <div class="row">
                            <div class="col-3 my-1 text-align-center">Description:</div>
                            <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="description" name="description" style="width:90%" value="{{profil.description}}"></div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-primary" form="form_updateProfil_{{profil.id}}">Sauvegarder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="delete_{{profil.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Supression d'un profil</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur?</p>
                    <form action="{{url_for('admin.destroyProfil',profil_id=profil.id)}}" method="post" id="form_deleteProfil_{{profil.id}}">
                        <input type="hidden" id="commID" name="commID" value="{{profil.id}}">
                        </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-danger" form="form_deleteProfil_{{profil.id}}">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </tbody>
  </table>

  <div class="row">
    <div class="col">
        <h3 class="mt-5">Gestion Reactions</h3>
    </div>
    <div class="col mt-5 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_reaction">Créer une nouvelle reaction</button>
    </div>
</div>
<div class="modal fade" id="create_reaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Creation d'une reaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('reactions.create')}}" method="POST" id="form_create_reaction">
                <div class="row">
                <div class="col-3 my-1 text-align-center">Description:</div>
                <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="description" name="description" style="width:90%" required></div>
                <div class="col-3 my-1 text-align-center">Icone:</div>
                <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="icon" name="icon" style="width:90%"></div>
            </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" form="form_create_reaction">Creer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:50%">Description</th>
        <th scope="col" style="width:10%">Icone</th>
        <th scope="col" style="width:30%">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for reaction in reactions %}
        <tr>
            <th scope="row">{{reaction.id}}</th>
            <td class="lead">{{reaction.description}}</td>
            <td class="lead"><span class="bi {{reaction.icone}} p-2 text-align-center"></span></td>
            <td>
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#update_reaction{{reaction.id}}">Modifier</button>
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_reaction{{reaction.id}}">Supprimer</button>
            </td>
        </tr>
        <div class="modal fade" id="update_reaction{{reaction.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modification d'une reaction</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('reactions.update',reaction_id=reaction.id)}}" method="post" id="form_updateReaction_{{reaction.id}}">
                        <div class="row">
                            <div class="col-3 my-1 text-align-center">Description:</div>
                            <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="description" name="description" style="width:90%" value="{{reaction.description}}"></div>
                            <div class="col-3 my-1 text-align-center">Icone:</div>
                            <div class="col-9 my-1 p-0 text-align-center"> <input type="text" id="icon" name="icon" style="width:90%" value="{{reaction.icone}}"></div>
                         </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-primary" form="form_updateReaction_{{reaction.id}}">Sauvegarder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="delete_reaction{{reaction.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Supression d'une reaction</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur?</p>
                    <form action="{{url_for('reactions.destroy',reaction_id=reaction.id)}}" method="post" id="form_deleteReaction_{{reaction.id}}">
                        <input type="hidden" id="commID" name="commID" value="{{reaction.id}}">
                        </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-danger" form="form_deleteReaction_{{reaction.id}}">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}