{% extends "base.html" %}
{% block title %}Post list{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
    <div class="col">
        <h1 class="mt-5">Articles de SpotiNyk</h1>
    </div>
    {% if current_user.is_authenticated and current_user.profil.description != "lecteur"%}
    <div class="col text-end">
        <a class="btn btn-primary mt-5" href="{{url_for('posts.create')}}"> Créer un nouvel article</a>
    </div>
    {% endif %}
    
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:15%">Auteur</th>
        {% set vars = {'titre': 'w-30', 'pub':'w-0'} %}
        {% if current_user.is_authenticated and current_user.profil.description == "admin" %}
            {{vars.update({'titre': 'w-20', 'pub':'w-10'})}}
        {% else %}
            {% for q in posts %}
                {% if current_user.is_authenticated and current_user.id == q.user.id %}
                    {{vars.update({'titre': 'w-20', 'pub':'w-10'})}}
                {% endif %}
            {% endfor %}
        {% endif %}
        <th scope="col" class="{{vars.titre}}">Titre</th>
        <th scope="col" class="{{vars.pub}}">Publier</th>
        <th scope="col" style="width:15%">Date</th>
        <th scope="col" style="width:30%">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        {% if post.status or (
            current_user.is_authenticated and 
                (current_user.profil.description == "admin" or
                current_user == post.user)
            )
        %}
        <tr>
            <th scope="row">{{post.id}}</th>
            <td class="lead">{{post.user.name}}</td>
            {% if current_user.is_authenticated and 
                (current_user.profil.description == "admin" or
                current_user == post.user) %}
                <td class="lead">{{post.title}}</td>
                <td class="lead">{{post.status}}</td>
            {% else %}
            <td class="lead">{{post.title}}</td>
            <td class="lead {{vars.pub}}">{{post.status}}</td>
            {% endif %}
            {% if post.pub_date == post.rev_date %}
                <td class="lead">{{post.pub_date}}</td>
            {% else %}
                <td class="lead">{{post.rev_date}}</td>
            {% endif %}
            <td>
                    <a href="{{url_for('posts.show', post_id = post.id)}}"
                        class="btn btn-outline-success"
                        role="button">
                            Voir
                    </a>
                    {% if current_user.is_authenticated and 
                        (current_user.profil.description == "admin" or
                         current_user == post.user) %}
                    <a href="{{url_for('posts.update', post_id = post.id)}}"
                        class="btn btn-outline-primary"
                        role="button">
                            Changer
                    </a>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_{{post.id}}">Supprimer</button>
                    {% endif %}
                </form>

            </td>
        </tr>

        <div class="modal fade" id="delete_{{post.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Supression d'une balise</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur?</p>
                    <form action="{{url_for('posts.destroy',post_id=post.id)}}" method="post" id="form_{{post.id}}_delete">
                        <input type="hidden" id="commID" name="commID" value="{{post.id}}">
                        </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-danger" form="form_{{post.id}}_delete">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>

{% endblock %}